body {
    background-color: #a7dbe3;
    color: white;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: #3747b3;
}

p {
    color: #3747b3
}

/* The CSS Box Model */

/*
    Margin;
    Border;
    Padding;    
*/

.box {
    background: pink;
    width: 300px;

    margin: 100px;
    border: 10px solid red;
    padding: 500px;
}