body {
    background-color: #a7dbe3;
    color: white;
    font-size: 21px;
}

p {
    
}

h1 {
    font-size: 70px;
    color: #3747b3;
}

#top-section{

}

#button-section {

}

.intro {
    font-size: 30px;
}

.highlight {
    background: Yellow;
}

.accent-color{
    color:red;
}