body {
    background-color: #a7dbe3;
    background-image: url(../img/Green.png);
    color: #2f4c5c;
    font-size: 21px;

    font-family: Calibri, Candara,"Segeo UI", Optima, Arial, sans-serif;
}

h1 {
    font-size: 70px;
    color: #3747b3;
    font-family: Rockwell, "Courier bold", Courier, Georgia, Times, "Times New Roman", Serif;
    margin-top: 0;
}

h2 {
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5;
}

a {
    color: #7584eb;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #555;
}

p, h1 {
    color: green;
}

.body-text {
    background-color: #79acd1;
    padding: 50px;
}

.body-text p {
    color: white;
}

.body-text a {
    color: #f7c0f4;
}

.body-text a:hover {
    color: #DDD;
}

.important-link {
    color: yellow !important;
}